@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  /* Breakpoints */
  --breakpoint-xs: 36rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 90rem;
  /* Fonts */
  --font-muller: "Montserrat";
  --font-rover: "Land Rover Web";
  /* Font-size */
  --text-display-22: 1.375rem;
  --text-display-26: 1.625rem;
  --text-display-50: 3.125rem;
  /* Colors */
  --color-primary: #1c2126;
  --color-main-primary: #282828;
  --color-brand-red: #d60000;
  --color-brand-red-700: #7d0000;
  --color-brand-gray: #a9a9a9;
  --color-brand-gray-100: #eceef1;
  --color-brand-green-400: #484f55;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply font-muller bg-white text-primary !leading-none;
  }
  button {
    @apply cursor-pointer;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-rover;
  }

  .text-xs,
  .text-sm,
  .text-base,
  .text-lg,
  .text-xl,
  .text-2xl,
  .text-2xl,
  .text-3xl,
  .text-4xl,
  .text-5xl {
    @apply !leading-none;
  }
}

@utility container-base {
  @apply w-full max-w-340 mx-auto px-5;
}

@utility flex-mai-center {
  @apply flex items-center justify-center;
}

@utility bg-shadow-blur {
  box-shadow: 0px 0px 30px 2px #1c21264d;
}

@utility bg-shadow-blur-mobile {
  box-shadow: 0px 0px 30px 2px #1c21264d;
}

@utility bg-shadow-blur-2 {
  box-shadow: 0px 0px 10px 0px #00000033;
}

@utility bg-gradient-primary {
  background: linear-gradient(86.06deg, #1c2126 45%, #7d858d 100%);
}

@utility button-blur {
  backdrop-filter: blur(10px);
}

@utility bg-gradient-secondary {
  box-shadow: 0px 0px 20px 1px #ffffff69;
}
@utility bg-main-gradient {
  background: linear-gradient(
    89.99deg,
    #d60000 0.01%,
    rgba(217, 217, 217, 0.29) 100%
  );
}


@utility tabs-gradient {
  background: linear-gradient(86.06deg, rgba(28, 33, 38, 0.9) 45%, #7D858D 100%);

}

@utility bg-lined-gradient-land {
  background: linear-gradient(180deg, #858f97 0%, rgba(0, 0, 0, 0.6) 100%);
}

.main-shadow-blur:hover {
  animation: shadowBlurIn 0.5s ease-in-out forwards;
}

.main-shadow-blur:not(:hover) {
  animation: shadowBlurOut 0.5s ease-in-out forwards;
}

@keyframes shadowBlurIn {
  0% {
    box-shadow: 0px 0px 0px 0px #1c21264d;
  }
  100% {
    box-shadow: 0px 0px 30px 2px #1c21264d;
  }
}

@keyframes shadowBlurOut {
  0% {
    box-shadow: 0px 0px 30px 2px #1c21264d;
  }
  100% {
    box-shadow: 0px 0px 0px 0px #1c21264d;
  }
}

.main-shadow-blur2:hover {
  animation: shadowBlurIn2 0.5s ease-in-out forwards;
}

.main-shadow-blur2:not(:hover) {
  animation: shadowBlurOut2 0.5s ease-in-out forwards;
}

@keyframes shadowBlurIn2 {
  0% {
    box-shadow: 0px 0px 0px 0px #1c21264d;
  }
  100% {
    box-shadow: 0px 0px 15px 2px #1c21264d;
  }
}

@keyframes shadowBlurOut2 {
  0% {
    box-shadow: 0px 0px 15px 2px #1c21264d;
  }
  100% {
    box-shadow: 0px 0px 0px 0px #1c21264d;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.scroll-1::-webkit-scrollbar {
  @apply w-0.75 rounded-full;
}

.scroll-2::-webkit-scrollbar {
  @apply w-0.5 h-0.5 rounded-full;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  @apply rounded-full;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  @apply rounded-full;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  @apply rounded-full;
}
.fade-in {
  animation: fadeIn 0.2s ease-in-out forwards, scaleIn 0.2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-main {
  display: none;
}
.modal-main.active,
.modal-main__car.active,
.modal-main__user.active {
  display: flex; /* yoki block */
}

.main-swiper-hero .swiper-pagination-bullet,
.swiper-model .swiper-pagination-bullet {
  @apply !block !shrink-0 !m-0 !w-1.25 !h-1.25 !bg-[#6A7784] !rounded-full !opacity-100 !transition-all !duration-300 !ease-in-out;
}

.main-swiper-hero .swiper-pagination-bullet-active,
.swiper-model .swiper-pagination-bullet-active {
  @apply !w-3.75 !h-1.25 !bg-[#1C2126] !rounded-full;
}

.swiper-model .swiper-pagination-bullet {
  @apply !block !shrink-0 !m-0 !w-2 !h-2 !bg-[#6A7784] !rounded-full !opacity-100 !transition-all !duration-300 !ease-in-out;
}

.swiper-model .swiper-pagination-bullet-active {
  @apply !w-6 !h-2 !bg-[#1C2126] !rounded-full;
}

.tab.active {
  /* box-shadow: 0px 0px 10px 2px #1c21264d; */
  @apply !border-primary;
}

.swiper-foult .swiper-pagination-current {
  @apply !w-5 !h-6.5 !rounded-[10px] !bg-white !flex-mai-center;
}
