@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  /* Breakpoints */
  --breakpoint-xs: 36rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 90rem;
  /* Fonts */
  --font-muller: "Montserrat";
  --font-rover: "Land Rover Web";
  /* Font-size */
  --text-display-22: 1.375rem;
  --text-display-26: 1.625rem;
  --text-display-50: 3.125rem;
  /* Colors */
  --color-primary: #1c2126;
  --color-main-primary: #282828;
  --color-brand-red: #d60000;
  --color-brand-gray: #a9a9a9;
  --color-brand-gray-100: #eceef1;
  --color-brand-green-400: #484f55;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply font-muller bg-white text-primary !leading-none overflow-x-hidden;
  }
  button {
    @apply cursor-pointer;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-rover;
  }

  .text-xs,
  .text-sm,
  .text-base,
  .text-lg,
  .text-xl,
  .text-2xl,
  .text-2xl,
  .text-3xl,
  .text-4xl,
  .text-5xl {
    @apply !leading-none;
  }
}

@utility container-base {
  @apply w-full max-w-340 mx-auto px-5;
}

@utility flex-mai-center {
  @apply flex items-center justify-center;
}

@utility bg-shadow-blur {
  box-shadow: 0px 0px 30px 2px #1c21264d;
}

@utility bg-shadow-blur-2 {
  box-shadow: 0px 0px 10px 0px #00000033;
}

@utility bg-gradient-primary {
  background: linear-gradient(86.06deg, #1c2126 45%, #7d858d 100%);
}

@utility button-blur {
  backdrop-filter: blur(10px);
}


@utility bg-gradient-secondary {
  box-shadow: 0px 0px 20px 1px #ffffff69;
}
@utility bg-main-gradient {
  background: linear-gradient(
    89.99deg,
    #d60000 0.01%,
    rgba(217, 217, 217, 0.29) 100%
  );
}

no-scrollbar::-webkit-scrollbar {
  display: none;
}
